//@theme "/home/christian/.local/share/rofi/themes/nord-oneline.rasi"
//@theme "/home/christian/.local/share/rofi/themes/rounded-nord-dark.rasi"
@theme "/home/christian/.local/share/rofi/themes/nord-oneline.rasi"
